<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <p>test</p>
    <input id="file-upload" type="file" accept=".gif,.jpg,.jpeg,.png">
    <script>
        window.addEventListener("load", function() {
            document.getElementById("file-upload").onchange = function(event) {
                var data = new FormData();
                data.append("file", event.srcElement.files[0]);

                var xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === this.DONE) {
                        console.log(this.responseText);
                    }
                });

                xhr.open("POST", "http://127.0.0.1:8000/api/media_objects");
                xhr.setRequestHeader("authorization", "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE1NTM5MzU1MzEsImV4cCI6MTU1NDU0MDMzMSwicm9sZXMiOlsiU1VQRVJfQURNSU4iLCJST0xFX1VTRVIiXSwidXNlcm5hbWUiOiJkaW1pdHJpIn0.THohLnn88aLQkunn0jLv9r4RdcyNI7l7dSr1b66ig6tslNdL7oxNAGCB-nqsqEbQ8SXx4b3XZiJSpJOS94bOHeSqLB33EI6ujshZQDFal3F1eIyyUkG2G3vbVIO7865z8Ex9nUXv7l1Ei4SaD4fqX5I2E1_fQAGxy5zKD_DrDV_TXSEeOQyJcXRA3wb9wrLuoGWc72HY7Yg3DPO4455F0fN3HTGkm-5yoj2672z-OYj0rokamh_xRB_5qbHKd-Iipn386UFyTmtr0G2BSQpyhzQnv5K6QAIQHXIPhxf6xataS2MHE_fzSKJFLo73fi0vEi3aU4bybU5hV6SfnIJZsWknDvm9mUSzgtx136J3uNazxIjBhCADBVZC0Qtx0oiu1UKZwZujCR3qZooBA8UBN16-B992E0LM58siSbIQQpl796x0gTBOGYciuJRFdE4m-N_yf43sh99msei0RCzSy_am1Am4Ik8RFiVKmZAYpuwdqHWVILAgjefNKWLh5xjljFPyNUP2sRyQfMCh38BYZjYDm20LTi4HHzvitPpRm9_Xl5KH-ly6u95uUN4N6NDmVK5OqoQHN873cu-mSnjLm1zna4Tx7-gZw0bRexNNwBxa02q0IM0pokqQJEnvTgDdbFno9wmVacwfKRBT2W63LaIr7lZEzGUPI9bv8J2QgoI");

                xhr.send(data);
            }
        });
    </script>
  </body>
</html>