<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <p>test</p>
    <input id="file-upload" type="file" accept=".gif,.jpg,.jpeg,.png">
    <script>
        window.addEventListener("load", function() {
            document.getElementById("file-upload").onchange = function(event) {
                
                    {# var fileContent = reader.result;
                    console.log(fileContent); #}
                    var data = new FormData();
                    data.append("file", event.srcElement.files[0]);

                    var xhr = new XMLHttpRequest();
                    xhr.withCredentials = true;

                    xhr.addEventListener("readystatechange", function () {
                        if (this.readyState === this.DONE) {
                            console.log(this.responseText);
                        }
                    });

                    xhr.open("POST", "http://127.0.0.1:8000/api/media_objects");
                    xhr.setRequestHeader("authorization", "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE1NTM5MzQ4MjQsImV4cCI6MTU1NDUzOTYyNCwicm9sZXMiOlsiU1VQRVJfQURNSU4iLCJST0xFX1VTRVIiXSwidXNlcm5hbWUiOiJkaW1pdHJpIn0.Z8xAxEVoe1zczpyKJOnXc3Xg_r5x91KD_l5ClPaFKlp3kemIqLerthO6Djr0LlzCeADfKOaYvOFnzL9i4xz55oRoE0Xgh2GCfNMnuNZFex9tK7LDAyKyadgBcXMg35Ql-FUziPq_USApEaQRMUR_jqSs1xzkXUD3Tw0mep3LRqP-rTK1iRl742pc2AquXc6htb6z6vFpj4qaLXVyqhH6OB7WrawfWwJYDePP-APdmZPd0aFaxFAq7aFN04Z-aBdrKSGTM_3By3ggo9zzH6DHz7sxdSaXEoCGdqebrZC0eFAvBj5dPrKPj70y6b8RdkIaiEZx8QRGbBBWPh9lQ-FRc_pZTYMLgmWrozaZ2SF_aFdjkWghw125qxdr3PFL29PmVLdMqhGhHwHjiOig_ryMeZT8Q-uMwH2d8BkXmK403PBzWxfbmX7Ng5X0oRZwXWiUOJMDv6JcSe1DGucAtwSsrtmjiDXuvpwclVlJWxntU37Wvdujc-5GkjWoeGDbiQ19gmFJ4lSEdyZkrz_8IIkHBmzRtrdrzMqXz2S_ARi5kHmYMoOgskVojdQBtbtbJOxQygl72vDvlYFUpeaDF9tKtAWyd3hBI-MUu1VVqNw4ojy92_xKcl61idFEH7_lnmDUNo7RYRa2lbJnNykoHUNSdGfmDubEswrvVfFNeukDPrs");

                    xhr.send(data);
            }
        });
    </script>
  </body>
</html>
