<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Reset your password</title>
    </head>
    <body>
        <h1 style="text-align: center;">Bonjour {{ user.username }}</h1>
        <h3>Une demande de reinitialisation de mot de passe a été effecutée</h3>
        <p>Afin de valider cette demande, veuillez cliquer <a href="{{ confirmationUrl }}">ici</a></p>
        <p>ou recopiez ce lien dans votre navigtuer: {{ confirmationUrl }}</p>
        <h4 style="color: red">Si cette demande ne vient pas de vous, nous vous demanderons de ne pas en tenir compte</h4>
    </body>
</html>